# Python cache
.idea/
__pycache__/
*.pyc
._*
*.egg-info/

# Test tooling
.pytest_cache/
.pytest_tmp/


# ============================================================
# LOCAL DATA
# Keep data/ directory in repository, but ignore its contents
# ============================================================

data/*
!data/.gitkeep


# Scientific / microscope files anywhere else in the repository
*.st
*.tif
*.tiff
*.mdoc
*.nav
*.mrc
*.rec

# Generated images
*.png
*.jpg
*.jpeg
*.bmp
*.webp